*{
    margin: 0;
    padding: 0;
   
}
.layout{
    overflow: hidden;
}
.header{
    width: 30%;
    height: 100px;
    background-color: aqua;
    text-align: center;
    float: left;

}
.header1
{
    width: 70%;
    height: 100px;
    background-color: aquamarine;
    text-align: center;
    float: left;
}
.ber{
    background-color: crimson;
    width: 100%;
    height: 100px;
    text-align: center;
}
.left{
    width: 20%;
    height: 400px;
    background-color: blueviolet;
    float: left;text-align: center;

}
.middel{
    width: 60%;
    min-height: 400px;
    background-color: chartreuse;
    float: left;
    text-align: center;
   

}
.bottom{
    width: 20%;
    height: 400px;
    background-color: cornflowerblue;
    float: left;
    text-align:center;

}
.top{
    height: 100px;
    background-color:rgb(21, 226, 55) ;

}
.contant{
    height: 200px;
    background-color: brown;
    overflow: hidden;
   
    

}
.leftblocks{
    width: 50%;
    background-color: brown;
    float: left;
    height: 100%;

}
.rightblocks{
    width: 50%;
    background-color: burlywood;
    float: left;
    height: 100%;

}
.less{
    height: 100px;
    background-color: chartreuse;
    

}

.footer
{
    background-color: rgb(218, 117, 137);
    height: 500px;
    text-align: center;
    
}